.App {
  text-align: center;
}

.sorting-container {
  width: 100vw;
  height: 65vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sorting-column {
  background-color: #00f;
  height: 100%;
  width: 1%;
  margin-top: auto;
}

.button {
  background-color: #ffa62b;
  border: none;
  padding: 0.5rem;
  border-radius: 5%;
  font-weight: lighter;
  color: #000;
  margin: 0.25rem;
  width: 7rem;
}
